.chart {
  padding: 1rem;
  border-radius: 15px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}
